body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f2f6;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}